name: Build/Deploy

on:
  push:
    branches:
      - main
      - openwrt-24.10
      - openwrt-23.05
      - openwrt-22.03
    paths:
      - '**/Makefile'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: build ${{ matrix.arch }} ${{ github.ref_name }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64_cortex-a53
          - aarch64_cortex-a72
          - aarch64_cortex-a76
          - aarch64_generic
          - arc_archs # Only used in OpenWrt 22.03
          - arm_arm1176jzf-s_vfp
          - arm_arm926ej-s
          - arm_cortex-a15_neon-vfpv4
          - arm_cortex-a5_vfpv4
          - arm_cortex-a7
          - arm_cortex-a7_neon-vfpv4
          - arm_cortex-a7_vfpv4
          - arm_cortex-a8_vfpv3
          - arm_cortex-a9
          - arm_cortex-a9_neon
          - arm_cortex-a9_vfpv3-d16
          - arm_fa526
          - arm_xscale
          - armeb_xscale
          - i386_pentium-mmx
          - i386_pentium4
          - loongarch64_generic
          - mips64_mips64r2
          - mips64_octeonplus
          - mips64el_mips64r2
          - mips_24kc
          - mips_4kec
          - mips_mips32
          - mipsel_24kc
          - mipsel_24kc_24kf
          - mipsel_74kc
          - mipsel_mips32
          - powerpc64_e5500
          - powerpc_464fp
          # powerpc_8540 was replaced by powerpc_8548 in OpenWrt 23.05+
          - ${{ github.ref_name == 'openwrt-22.03' && 'powerpc_8540' || 'powerpc_8548' }}
          # riscv64_riscv64 has been renamed to riscv64_generic in OpenWrt master
          - ${{ (github.ref_name == 'openwrt-24.10' || github.ref_name == 'openwrt-23.05') && 'riscv64_riscv64' || 'riscv64_generic' }}
          - x86_64
        rel_branch:
          - ${{ github.ref_name }}
        exclude:
          # OpenWrt main (SNAPSHOT)
          - arch: arc_archs
            rel_branch: main
          - arch: mips_4kec # https://lists.openwrt.org/pipermail/openwrt-devel/2025-August/044216.html
            rel_branch: main
          # OpenWrt 24.10
          - arch: arc_archs
            rel_branch: openwrt-24.10
          # OpenWrt 23.05
          - arch: aarch64_cortex-a76
            rel_branch: openwrt-23.05
          - arch: arc_archs
            rel_branch: openwrt-23.05
          - arch: armeb_xscale
            rel_branch: openwrt-23.05
          - arch: loongarch64_generic
            rel_branch: openwrt-23.05
          - arch: mips64_mips64r2
            rel_branch: openwrt-23.05
          - arch: mips64el_mips64r2
            rel_branch: openwrt-23.05
          - arch: powerpc64_e5500
            rel_branch: openwrt-23.05
          # OpenWrt 22.03
          - arch: aarch64_cortex-a76
            rel_branch: openwrt-22.03
          - arch: armeb_xscale
            rel_branch: openwrt-22.03
          - arch: loongarch64_generic
            rel_branch: openwrt-22.03
          - arch: mips64_mips64r2
            rel_branch: openwrt-22.03
          - arch: mips64el_mips64r2
            rel_branch: openwrt-22.03
          - arch: powerpc64_e5500
            rel_branch: openwrt-22.03
          - arch: riscv64_generic
            rel_branch: openwrt-22.03

    steps:
      - uses: actions/checkout@v6

      - name: Build APK packages ${{ matrix.arch }}
        if: ${{ github.ref_name == 'main' }}
        uses: openwrt/gh-action-sdk@v9
        env:
          ARCH: "${{ matrix.arch }}-${{ github.ref_name }}"
          FEEDNAME: meshtastic
          PRIVATE_KEY: "${{ secrets.WRT_APK_KEY }}"
          INDEX: 1

      - name: Build IPK packages ${{ matrix.arch }}
        if: ${{ github.ref_name != 'main' }}
        uses: openwrt/gh-action-sdk@v9
        env:
          ARCH: "${{ matrix.arch }}-${{ github.ref_name }}"
          FEEDNAME: meshtastic
          KEY_BUILD: "${{ secrets.WRT_IPK_KEY }}"
          INDEX: 1

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.arch }}
          path: bin/packages/${{ matrix.arch }}/meshtastic/

  deploy:
    name: Deploy packages to GitHub Pages
    runs-on: ubuntu-24.04
    needs: build
    concurrency:
      # Only run one deploy at a time
      group: publish-builds
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: ${{ github.ref_name }}

      - name: Upload packages to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.WRT_REPO_DEPLOY_KEY }}
          external_repository: meshtastic/openwrt-repo
          publish_dir: ${{ github.ref_name }}
          destination_dir: ${{ github.ref_name }}
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
          enable_jekyll: true
